@charset "utf-8";
/*CSS Document */
p{
	font-size: 16px;
	line-height: 18px;
	width: 680px;
	background-color:rosybrown;
	padding: 20px;
}
body {
    background-image: url("Slike isve/68.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}